/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2014, 12:34:21 PM
    Author     : scorp
*/


.login {
    background-color: #666 !important;
}
.login .logo {
    margin: 60px auto 0;
    padding: 15px;
    text-align: center;
}
.login .content {
    background: url("../images/login/bg-white-lock.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 auto;
    padding: 20px 30px 15px;
    width: 360px;
}
.login .content h3 {
    color: #eee;
}
.login .content h4 {
    color: #eee;
}
.login .content p, .login .content label {
    color: #fff;
}
.login .content .login-form, .login .content .forget-form {
    margin: 0;
    padding: 0;
}
.login .content .form-control {
    background-color: #fff;
}
.login .content .forget-form {
    display: none;
}
.login .content .register-form {
    display: none;
}
.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}
.login .content .form-actions {
    background-color: transparent;
    border: 0 none;
    clear: both;
    margin-left: -10px;
    margin-right: -30px;
    padding: 0 30px 25px;
}
.login .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0;
}
.login .content .forget-form .form-actions {
    border: 0 none;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.login .content .register-form .form-actions {
    border: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.login .content .form-actions .checkbox {
    display: inline-block;
    margin-top: 8px;
}
.login .content .form-actions .btn {
    margin-top: 1px;
}
.login .content .forget-password {
    margin-top: 25px;
    border-top: 1px dotted #eee;
}

.login .content .select2-container i {
    color: #ccc;
    display: inline-block;
    font-size: 16px;
    height: 16px;
    margin: 4px 4px 0 -1px;
    position: relative;
    text-align: center;
    top: 1px;
    width: 16px;
    z-index: 1;
}
.login .content .has-error .select2-container i {
    color: #b94a48;
}
.login .content .select2-container a span {
    font-size: 13px;
}
.login .content .select2-container a span img {
    margin-left: 4px;
}
.login .copyright {
    color: #eee;
    font-size: 13px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
#back-to_login-form{
    margin-left:-19px;
}
@media (max-width: 480px) {
    .login .logo {
        margin-top: 10px;
    }
    .login .content {
        padding: 30px;
        width: 222px;
    }
    .login .content h3 {
        font-size: 22px;
    }
    .login .checkbox {
        font-size: 13px;
    }
}